<app-nav></app-nav>

<form #idAssociationForm="ngForm" (ngSubmit)="Rechecher()">
  <div class="group">
      <label for="idAssociation"> Id Association : </label>
      <input type="text" name="idAssociation" id="idAssociation" [formControl]="idAssociationControl">
  </div>
  <button type="submit" [disabled]="!idAssociationForm.valid" > Recherche</button>
</form>
<div *ngIf="!idAssociationToken"> Association introuvable</div> 

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let association"> 
        <a [routerLink]="['/associations', association.id]">{{association.id}} </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="Users">
        <th mat-header-cell *matHeaderCellDef> Users </th>
        <td mat-cell *matCellDef="let association">
          <span *ngFor="let user of association.Users; let last = last">
            {{ user.firstname + ' ' + user.lastname }}{{ !last ? ', ' : '' }}
          </span>
        </td>
      </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> name </th>
      <td mat-cell *matCellDef="let association"> {{association.name}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
